h1 {
  padding: 0.5em;
  font-size: medium;
  text-align: center;
  color: #818181;
}
body {
  font-family: "Lato", "Verdana", sans-serif;
  text-align: center;
  color: #16647e8e;
}
/*This is the carousel box*/
.container {
  left: 400px;
  position: absolute;
  width: 800px;
  height: 1000px;
  border-radius: 0.5em;
}
/*This is the Side Nav Bar*/
.sidenav {
  height: 100%;
  width: 200px;
  border-radius: 0.5em;
  float: left;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#d3d3d3;
  overflow-x: hidden;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
form {
  font-family: "Lato", "Verdana", sans-serif;
  text-align: center;
  font-size: small;
}
input[type=text], select {
  width: 20%;
  padding: 3px 2px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 20%;
  padding: 3px 2px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea[name=comment], select {
  width: 20%;
  padding: 20px 2px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
}
input[type=submit] {
  width: 10%;
  background-color: #16647e8e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #d9d7df;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}